# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# HF cache
hf_cache/

# Audio + model artifacts (falls nicht versionieren)
*.wav
*.mp3
*.flac
*.npz

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build
dist/
build/
